<%= form_for(@client) do |f| %>
  <div class="form-group">
    <%= f.label :Imię %><br />
    <%= f.text_field :firstname, {:required => "required"}%>
  </div>
  <div class="form-group">
    <%= f.label :Nazwisko %><br />
    <%= f.text_field :secondname, {:required => "required"} %>
  </div>
  <div class="form-group">
    <%= f.label :PESEL %><br />
    <%= f.number_field :pesel, {:required => "required"} %>
  </div>
  <div class="actions">
    <%= f.submit "Dodaj klienta", :class => "btn btn-primary" %>
  </div>
<% end %>