<%= form_for(@category) do |f| %>
  <div class="field">
    <%= f.label :Kategoria %><br />
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :Cena %><br />
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>