<%= form_for([@category, @car]) do |f| %>
  <div class="form-group">
    <%= f.label :Nazwa %><br />
    <%= f.text_field :name, {:required => "required"} %>
  </div>
  <div class="form-group">
    <%= f.label :Opis %><br />
    <%= f.text_field :description, {:required => "required"} %>
  </div>
  <div class="form-group">
    <%= f.label :Kategoria %><br />
    <%= f.collection_select(:category_id, Category.all, :id, :category, {:required => "required"}) %>
  </div>
  <div class="actions">
    <%= f.submit "Dodaj samochód", :class => "btn btn-primary" %>
  </div>
<% end %>